#home {
  @apply w-screen min-h-screen dark:text-white;
}

#landing {
  @apply w-full min-h-screen flex flex-col items-center justify-center;

  #text {
    @apply mx-5;
  }
}

#stack {
  @apply w-full min-h-screen flex flex-col items-center justify-center;

  .icons {
    img {
      @apply m-4;
    }
  }
}


.slider {
  @apply m-auto overflow-hidden relative w-auto;
  height: 100px;

  .slide-track {
    @apply flex;
    animation: scroll 40s linear infinite;
    width: calc(250px * 14);
  }

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}


.scroll-container {
  @apply overflow-hidden whitespace-nowrap bg-transparent h-full;
  padding: 5px 70px 5px 20px;

  .gridscroll {
    @apply inline-block;

    img {
      margin-right: 22px;
    }
  }
}

@keyframes float {
  0% {
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
    transform: translateY(0);
  }

  50% {
    filter: drop-shadow(0 25px 15px rgba(0, 0, 0, 0.2));
    transform: translatey(-10px);
  }

  100% {
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
    transform: translateY(0px);
  }
}

#scroll_arrow {
  animation: float 3s ease-in-out infinite;
}
