<div id="home">

  <!-- Landing -->
  <div id="landing">
    <div id="text">
      <h1 class="font-mono text-2xl mb-1 md:text-4xl">Hello, i´m Efraim<br>Full Stack Developer</h1>
      <small class="text-gray-600 dark:text-gray-300 text-sm font-light tracking-tight leading-tight md:text-xl">I'm a
        programming
        enthusiast,
        interested in helping others to optimize his work and make life simpler.</small>
    </div>
    <!-- Personal Info -->
    <div class="w-full flex flex-wrap justify-evenly mt-6 md:flex-col md:items-center">
      <div class="flex items-center px-1 md:mb-4">
        <img src="assets/svg/mexico_flag.svg" alt="Mexico Flag" class="w-6 mr-1.5">
        <span class="text-sm md:text-base">Mexican</span>
      </div>
      <div class="flex items-center px-1 md:mb-4">
        <img src="assets/svg/birthday_cake.svg" alt="Birthday Cake" class="w-6 mr-1.5">
        <span class="text-sm mt-0.5 md:text-base">19 Years</span>
      </div>
      <div class="flex items-center px-1 cursor-pointer" (click)="redirect('https://github.com/EfraimLA')">
        <img src="assets/svg/logo_github.svg" alt="Github Logo" class="w-6 mr-1.5 dark:invert">
        <span class="text-sm md:text-base">efraimla</span>
      </div>
    </div>
  </div>

  <!-- Scroll Arrow -->
  <div id="scroll_arrow" class="absolute flex w-screen justify-center bottom-2" *ngIf="showScrollArrow" [@fadeInOut]>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 arrow" fill="none" viewBox="0 0 24 24" stroke="currentColor"
         stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16 17l-4 4m0 0l-4-4m4 4V3"/>
    </svg>
  </div>

  <!-- My Stack Section -->
  <div id="stack" class="text-center font-mono font-medium">

    <!--    <p class="text-gray-600 dark:text-gray-300 text-sm font-light tracking-tight leading-tight md:text-base">These are-->
    <!--      some languages and technologies i've used before.-->
    <!--    </p>-->

    <div class="card icons">
      <h2 class="text-xl font-medium">Languages</h2>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/java_logo.svg" class="w-8" alt="Java Logo">
        </div>

        <div class="progress-bar-80">
          <span></span>
        </div>
      </div>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/python_logo.svg" class="w-8 svg-white" alt="Python Logo">
        </div>

        <div class="progress-bar-40">
          <span></span>
        </div>
      </div>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/typescript_logo.svg" class="w-8" alt="Typescript Logo">
        </div>

        <div class="progress-bar-40">
          <span></span>
        </div>
      </div>
    </div>

    <div class="card icons">
      <h2 class="text-xl font-medium">Frameworks</h2>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/angular_logo.svg" class="w-12" alt="Angular Logo">
        </div>

        <div class="progress-bar-80">
          <span></span>
        </div>
      </div>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/vuejs_logo.svg" class="w-10" alt="Vue Logo">
        </div>

        <div class="progress-bar-40">
          <span></span>
        </div>
      </div>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/quarkus_logo.svg" class="w-8" alt="Quarkus Logo">
        </div>

        <div class="progress-bar-40">
          <span></span>
        </div>
      </div>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/vertx_logo.svg" class="w-20" alt="Vertx Logo">
        </div>

        <div class="progress-bar-40">
          <span></span>
        </div>
      </div>
    </div>

    <div class="card icons">
      <h2 class="text-xl font-medium">Databases</h2>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/postgresql_logo.svg" class="w-10" alt="PostgreSQL Logo">
        </div>

        <div class="progress-bar-80">
          <span></span>
        </div>
      </div>
      <div class="card-item">
        <div class="w-2/5 flex justify-center">
          <img src="assets/svg/mongodb_logo.svg" class="w-8" alt="MongoDB Logo">
        </div>

        <div class="progress-bar-80">
          <span></span>
        </div>
      </div>
    </div>
  </div>

  <!-- My Projects Section -->
  <!-- <div id="projects" class="text-center font-mono font-medium">
    <h1 class="font-medium">My Projects</h1>
    <p class="text-gray-600 dark:text-gray-300 text-sm font-light tracking-tight leading-tight md:text-base">Here are
      some
      projects i've worked on.
    </p>
    <div class="w-full flex justify-evenly flex-wrap items-center mt-2">
      <div class="w-full flex flex-col items-center justify-center">
        <img src="assets/svg/logo_github.svg" alt="Github Logo" class="w-6 mr-1.5 dark:invert">
        <span class="text-sm md:text-base">efraimla/quarkus-rest-api</span>
      </div>
    </div>
  </div> -->
</div>
