@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body, html {
  @apply dark:bg-gray-900;

  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}
